<form action="/restaurants" method="post">
  <input type="text" placeholder="Type a name" name="restaurant_name">
  <input type="text" placeholder="Type an address" name="restaurant_address">
  <input type="submit">
</form>
